
.full-navbar{
  background-color: #F8F9FA;
  padding-top: 20px;
  padding-bottom: 30px;
}

#goind-img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-top: 10px;
}

#nav-bar {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 10px;
}

#nav {
  text-decoration: none;
  color: #676868;
  font-size: 23px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: monospace;
}

.login1 {
  padding-right: 50px !important;
  margin-left: 100px !important;
  color: #2CA6D1 !important;
}

.blue-center-area {
  background-color: #2CA6D1;
  height: 550px;
  width: 100%;
  margin-bottom: 80px;
}

.blue-center-area h1 {
    color: white;
    font-size: 75px;
    text-align: center;
    padding-top: 48px;
}

.blue-center-area p {
  color: white;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.blue-center-area a {
  width: 150px !important
}

.email-submit {
  text-align: center;
}

.marketing-jobs {

  display: inline-block;
  width: 48%;
  vertical-align: middle;
  text-align: center;

}

#dummy-text {
  width: 50%;
  margin-top: 10px;
  margin: 0 auto;
  text-align:left;
  font-size: 25px;

}

.abc {
  background-color: black;
  color: white;
  text-decoration: none;
  padding-top: 20px;
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 20px;
}

.abc:hover {
  background-color: red;
}

#marketing-img {
width: 75%;
margin-top: 15px;
}

.marketing-jobs2 {
  width: 48%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.img2 {

  width: 70%;
  vertical-align: middle;
  text-align: center;
  margin-top: 100px;
}

.industrial-jobs {
  display: inline-block;
  width: 48%;
  vertical-align: middle;
  text-align: center;
}

#dumm-text2 {
  width: 50%;
  margin-top: 10px;
  margin: 0 auto;
  text-align:left;
  font-size: 25px;
}

.img-1 {
  width: 48%;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}

.container-left-coparatejobs {
    display: inline-block;
    width: 48%;
    text-align: center;
    vertical-align: middle;
    margin-top: 100px;
}

.container-left-coparatejobs p {
  width: 48%;
  text-align:left;
  font-size: 25px;
  margin: 0 auto;
}

.container-right-coparatejobs {
    width: 48%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.container-right-coparatejobs img{
    width: 70%;
    margin-top: 100px;
}

.container-left-govermentjobs {
    width: 48%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.container-left-govermentjobs img {
  width: 70%;
  margin-top: 100px;
}

.container-right-govermentjobs {
  display: inline-block;
  width: 48%;
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
}

.container-right-govermentjobs p{
    width: 48%;
    text-align:left;
    font-size: 25px;
    margin: 0 auto;
}

.blue-center-area2 {
  background-color: #2CA6D1;
  height: 300px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.blue-center-area2 h1 {
  color: white;
  margin-top: 100px;
  padding-top: 75px;
  padding-left: 150px;
}

.blue-center-area2 p {
  color: white;
  font-size: 20px;
  padding-left: 150px;
}

.email-submit {
    margin-left: 150px;
}

#email {
  width: 35%
}

#footer-1 {
  margin-left: 10%;
  margin-top: -4%;
}

#footer-2 {
  float: right;
  margin-right: 10%;
  margin-top: -2%;
}
